<%= link_to "Home page", articles_path %>
<h1><%= @article.title %></h1>
<%= link_to "Remove article", article_path(@article), method: :delete %>
<%= link_to "Edit article", edit_article_url(@article) %>
<p><%= @article.content %></p>
